%h3 Are you sure you want to delete #{@spacecat.name}?
%form(action="/spacecats/#{@spacecat.id}" method="post")
  %input(type="hidden" name="_method" value="DELETE")
  %input(type="submit" value="Delete") or <a href="/spacecats">Cancel</a>